@import "../../styles/mixins.module";
@import "../../styles/vars.module";

@mixin button-reset() {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}

.button {
  @include button-reset();
  @include with-hover();

  background-color: #3f51b5;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: spacer_base_by(4);
  height: spacer_base_by(3);
  padding: spacer_base_by(1) spacer_base_by(2);
  border-radius: 4px;

  & > svg {
    margin-right: spacer_base_by(1);
    font-size: spacer_base_by(1);
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    line-height: 1;
    font-size: spacer_base_by(1);
    display: inline-block;
    vertical-align: middle;
  }
}

.icon {
  @include button-reset();
  @include with-hover();

  height: spacer_base_by(3);
  width: spacer_base_by(3);
  background: none;

  & > svg {
    font-size: spacer_base_by(2);
  }
}
