@import "../../styles/mixins.module";
@import "../../styles/vars.module";

.footer {
  background-color: $green-dark;
  border-top: 5px solid $green;
  position: relative;
  padding: $size-base;
  z-index: 99;

  &__image {
    position: absolute;
    top: spacer_base_by(-3);
    right: $size-base;
    width: spacer_base_by(5);
  }
}
