@import "../../styles/mixins.module";
@import "../../styles/vars.module";

.header {
  background-color: $green-dark;
  border-bottom: 5px solid $green;
  position: relative;
  padding: $size-base;

  &__image {
    position: absolute;
    top: $size-base;
    right: $size-base;
    width: spacer_base_by(5);
  }

  &__text {
    color: white;
    font-weight: bold;
  }
}
