@import "../../styles/mixins.module";
@import "../../styles/vars.module";

.hero {
  background-color: $green-light;
  position: relative;
  padding: $size-base;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  &__title {
    font-size: spacer_base_by(2);
    margin-bottom: spacer_base_by(1);
  }

  &__text {
    font-size: 25vw;
    color: $green;
    margin: spacer_base_by(3) 0;
    line-height: 1;
    font-weight: bold;
  }
}
